.leg__info {
  margin-bottom: 10px;
}
.leg__progress {
  margin-bottom: 10px;
}
.leg__dates {
  margin-top: 10px;
}
.leg__distance {
  display: inline-block;
  margin-right: 5px;
}
.leg__abbrv-label {
  margin-right: 5px;
}