.leg {
  //padding: 20px 15px;
  //border-bottom: 1px solid lightgrey;
  //margin-bottom: 5px;
}
.leg--active {
  //border-top: 5px solid #3498db;
}
.leg--done {
  //background-color: #ecf0f1;
}
.leg--upcoming {
  //background-color: #ecf0f1;
}

.leg__info {
  margin-bottom: 10px;
}
.leg__progress {
  margin-bottom: 10px;
}
.leg-dates {
  margin-top: 10px;
}
.leg-dates__est-start {
  .leg--done &,
  .leg--active & {
    display: none;
  }
}
.leg-dates__est-end {
  .leg--done & {
    display: none;
  }
}
.leg-dates__real-start {
  .leg--upcoming & {
    display: none;
  }
}
.leg-dates__real-end {
  .leg--upcoming & {
    display: none;
  }
}

.leg__dates-label {
  text-align: right;
}
.leg__distance {
  display: inline-block;
  margin-right: 5px;
}
.leg__abbrv-label {
  margin-right: 5px;
}
